:root {
    --primary: #fff;
}

.btn{
    padding: 8px 20px;
    border-radius: 20px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-right: 25px;
}

.btn--primary{
    background-color: #586bdb;
    color: #ffffff;
}

.btn--outline{
    background-color: transparent;
    color: #586bdb;
    padding: 8px 20px;
    border: 1px solid #586bdb;
    transition: all 0.3s ease-out;
}

.btn--medium {
    padding: 8px 20px;
    font-size: 20px;
}

.btn--large {
    padding: 8px 20px;
    font-size: 20px;
}

.btn--medium:hover, .btn--large:hover {
    background: #b7c2ff;
    color: #586bdb;
    transition: all 0.3s ease-out;
}